body {
    background-color: #000000;
    background-attachment: fixed;
    background-image: url("./assets/images/background/background.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    color: #ffffff;
    font-family: 'Kalam', cursive;
}

label {
    font-size: medium;
}

textarea {
    min-height: 125px;
    resize: vertical;
}
